<div class="customizeContainer" (click)="backGroundEmit()">
    <div class="customizeContainer-info">
        <p>Nome de Usuário: </p>
        <input type="text" value="Digite seu nome">
    </div>

    <div class="customizeContainer-button">
        <app-button-color (backgourndButton)="teste($event)" buttonColor="blue" inputText="Azul"></app-button-color>
        <app-button-color (backgourndButton)="teste($event)" buttonColor="green" inputText="Verde"></app-button-color>
        <app-button-color (backgourndButton)="teste($event)" buttonColor="gray" inputText="Cinza"></app-button-color>
    </div>

    <app-button-color buttonColor="white" fontColor="black" inputText="Salvar"></app-button-color>
</div>
