.card-black-header {
    width: 150px;
    height: 100px;
    background-color: green;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;

    h1 {
        margin: 10px 10px;
    }

    div {
        margin: 10px 10px;
        background-color: black;
        border-radius: 4px;
        width: 50%;
        cursor: pointer;
    }
}