button {
  background: blue;
  border: 1px solid black;
  padding: 6px 20px 6px 20px;
  margin: 0;
  border-radius: 20px;
  font: inherit;
  color: white;
  text-align: inherit;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}