#userComponent {
    display: flex;
    justify-content: center;
    background-color: aqua;   
}

.perfil-usuario {
    img {
        width: 100px;
        height: 100px;
        background-color: rgb(105, 105, 105);
        border-radius: 50%;
        margin-right: 20px;
    }
}

.info-usuario {
    width: 40%;
}