<div id="userComponent">
    <div class="perfil-usuario">
        <img [src]="perfilUser" >
    </div>

    <div class="info-usuario">
        <h1> {{ userName }}</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, sed praesentium consequuntur animi esse rem maxime. Corrupti modi omnis dolorem, ex deserunt sint veritatis ullam a et quo tempora?</p>
    </div>


   
</div>
<div>
    <button  [attr.title]="attrBiding" (click)="alterUserName()">Altera usuario</button>

    <div  >
        <input id="meu-input" [style.background-color]="color" (keyup)="handleInputkeyUp($event)">
    </div>
    
</div>